import(
	MASS,
	mvtnorm, 
	dbscan
)

S3method(bdplot,bdpdf)
S3method(bdplot,bdcdf)
S3method(bdplot,large)
S3method(bdplot,bdpeaks)
S3method(bdplot,badzupa)

export(
  badzupa,
  bdpdf,
  bdcdf,
  bdlarge,
  bdpeaks,
  bdplot,
  bdplot.bdcdf,
  bdplot.bdpdf,
  bdplot.large,
  bdplot.bdpeaks,
  bdplot.badzupa
)
